@model POS.ViewModel.EmployeeModel

@{
    ViewData["Title"] = "New Employee";
}

<h2>Add New Employee</h2>

<form asp-controller="Employee" asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="LastName">LastName</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName">FirstName</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="TitleOfCourtesy">TitleOfCourtesy</label>
        <textarea asp-for="TitleOfCourtesy" class="form-control"></textarea>
        <span asp-validation-for="TitleOfCourtesy" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="BirthDate">BirthDate</label>
        <input asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="HireDate">HireDate</label>
        <input asp-for="HireDate" class="form-control" />
        <span asp-validation-for="HireDate" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Region">Region</label>
        <input asp-for="Region" class="form-control" />
        <span asp-validation-for="Region" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="PostalCode">PostalCode</label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Country">Country</label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="HomePhone">HomePhone</label>
        <input asp-for="HomePhone" class="form-control" />
        <span asp-validation-for="HomePhone" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Notes">Notes</label>
        <input asp-for="Notes" class="form-control" />
        <span asp-validation-for="Notes" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ReportsTo">ReportsTo</label>
        <input asp-for="ReportsTo" class="form-control" />
        <span asp-validation-for="ReportsTo" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="PhotoPath">PhotoPath</label>
        <input asp-for="PhotoPath" class="form-control" />
        <span asp-validation-for="PhotoPath" class="text-danger" />
    </div>
    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
